@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

@font-face {
  font-family: "Hack", sans-serif;
  src: url('Fonts/hack-regular-webfont.woff');
}

:root {
  --transition: all 0.3s linear;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --spacing: 0.1rem;
}


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'open sans', sans-serif;
  background-color: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  font-size: 0.875rem;
  line-height: 1.5;
  min-height: 100vh;
  padding-top: 56px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
}
/* navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: #fff;
  box-shadow: var(--box-shadow);
}

.nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1rem;
  font-family: "Hack", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.logo span {
  color: hsl(205, 78%, 60%);
  font-size: 1.25rem;
}

.nav-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  transition: var(--transition);
}

.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
}

.nav-list {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 5px 15px -15px rgba(0, 0, 0, 0.1);

  animation: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  /* transition: 0.25s all ease-in-out; */
}
.show-list {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.list-item a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-weight: 400;
}
.list-item a:hover {
  color: hsl(205, 78%, 60%);
  transition: var(--transition);
}
.social-icons {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 1170px;
    margin-inline: auto;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    position: static;
    
    display: flex;
    align-items: center;
    gap: 1.5rem;

    background-color: transparent;
    box-shadow: none;
    padding-bottom: 0;
  }

  .nav-header {
    padding: 0;
  }
  .list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: hsl(205, 90%, 76%);
  }
}